html {
    font-size:50%;
}

.container-fluid {
    margin:0;
    padding:0;
}

.row {
    padding:1rem 3rem;
}

h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding:0;
}

button {
    margin-right:.4rem;
}

.mt2 {
  margin-top:2rem;
}

.filter {
    width:100;
}


.item-enter {
    opacity: 0;
  }
  .item-enter-active {
    opacity: 1;
    transition: opacity 100ms ease-in;
  }
  .item-exit {
    opacity: 1;
  }
  .item-exit-active {
    opacity: 0;
    transition: opacity 100ms ease-in;
  }

  .loginBtn-img {
    width:4rem;
    height:4rem;
  }

  #loginBtn {
    text-align: center;
    display: flex;
    justify-content:center;
    align-items:center;
  }
  .loading {
    width:2em;
    height:2em;
    border-radius:50%;
    margin-left:1.2em;
    border:2px solid #fff;
    border-top-color: transparent;
    border-right-color:transparent;
    animation: rotate .5s;
    // animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    // animation-play-state: running;
    // animation-direction: normal;
    animation-timing-function: ease-in;
    display:none;
  }

  @keyframes rotate {
    0% {
      transform:rotate(0deg)
    }
    100% {
      transform:rotate(360deg);
    }
  }

  .none {
    display:none
  }

  .mb2 {
    margin-bottom:2rem;
  }